* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #031b4e;
}

/* UTILITIES */
/* display */
.d-inline {
  display: inline-block;
}
/* positions */
.p-relative {
  position: relative;
}
.mg-0 {
  margin: 0;
}

.mg-left-10 {
  margin-left: 10px;
}

/* background */
.jumbo {
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-gray {
  background-color: #f3f5f9;
}

/* typo */
.opacity-07 {
  opacity: .7;
}

/* navbar general */
header .navbar {
  background-color: white;
  border: none;
  margin-bottom: 0px;
}

header .navbar ul li a {
  padding: 15px 8px;
}

/* navbar logo */
header .navbar img {
  width: 150px;
}

/* navbar centro */
header .navbar ul {
  line-height: 42px;
  margin-left: 55px;
}


/* navbar sx */
header .navbar-default .navbar-nav li a {
  line-height: 30px;
  color: #010e28;
}

header .navbar-default .navbar-nav .btn {
  color: #0068ff;
  border-color: #0068ff;
  transition: color .3s, background-color .3s;
}

header .navbar-default .navbar-nav .btn:hover {
  color: #fff;
  background-color: #0068ff;
}

/* jumbotron */
/* text box jumbotron sx */
header .jumbo .jumbo-box-sx {
  margin-top: 85px;
}

header .jumbo .jumbo-box-sx h1,
header .jumbo .jumbo-box-sx h3 {
  color: white;
}

header .jumbo .jumbo-box-sx h1 {
  font-size: 65px;
  font-weight: 700;
}

header .jumbo .jumbo-box-sx h3 {
  font-size: 20px;
  opacity: 0.6;
}

/* form box jumbotron dx*/
header .jumbo .jumbo-box-dx {
  background-color: white;
  padding: 15px 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
}

header .jumbo .jumbo-box-dx .form-group {
  margin: 10px 0;
}

/* bottoni jumbotron form */
header .jumbo .jumbo-box-dx .form-group .btn {
  margin: 5px 0;
}

header .jumbo .jumbo-box-dx a:hover {
  text-decoration: none;
}

header .jumbo .jumbo-box-dx .btn {
  width: 100%;
}

/* bottone create account */
header .jumbo .jumbo-box-dx .btn-create {
  background-color: rgba(0, 137, 255, 0.8);
  border-color: rgba(51, 122, 183, .5);
  color: white;
  font-weight: 600;
  transition: background-color .4s;
}

header .jumbo .jumbo-box-dx .btn-create:hover {
  background-color: rgba(0, 137, 255, 1);
}

/* bottone sign up google */
header .jumbo .jumbo-box-dx .form-group .google-icon-form {
  padding: 0px;
}

header .jumbo .jumbo-box-dx .form-group .google-icon-form img {
  width: 20px;
}

header .jumbo .jumbo-box-dx .form-group .btn-sign-google {
  font-weight: 600;
  transition: background-color .3s, border-color .3s;
}

header .jumbo .jumbo-box-dx .form-group .btn-sign-google:hover {
  background-color: #f3f5f9;
  border-color: #f3f5f9;
}


/* box text termini di servizio */
header .jumbo .jumbo-box-dx .form-group p {
  font-size: 12px;
  padding-top: 10px;
}

header .jumbo .jumbo-box-dx .form-group p a:hover{
  text-decoration: underline;
}


/* MAIN */
/* sezione immagini */
main .businesses {
  padding-bottom: 25px
}
/* text businesses */
main .businesses h5 {
  padding-top: 40px;
  color: #7f8fb7;
  text-transform: uppercase;
}

/* immagini ul businesses */
main .businesses .businesses-img-list li a{
  text-decoration: none;
}

main .businesses .businesses-img-list li {
  width: calc((100% / 7));
}

main .businesses .businesses-img-list li img {
  max-width: 100%;
  vertical-align: middle;
}

/* text bot */
main .businesses a {
  text-decoration: none;
  font-weight: 600;
}

/* section deploy&scale text */
main .text-deploy {
  padding-top: 50px;
  padding-bottom: 20px;
}

main .text-deploy  h2 {
  font-size: 35px;
  font-weight: 500;
  color: #031b4e;
}

main .text-deploy  h3 {
  font-size: 20px;
  color:#4e5f83;
}

/* deploy section UL */
main .deploy-list {
  border-left: 2px solid lightgray;
  margin-top: 20px;
}

main .deploy-list ul {
  vertical-align: bottom;
  list-style: none;
  margin:0;
}

main .deploy-list ul li {
  padding: 8px 0px;
  color:#4e5f83;
  font-weight: 600;
  font-size: 16px;
}

/* deploy boxes */
main .deploy-boxes {
    margin-top: 20px;
    margin-bottom: 30px;
}

main .deploy-boxes [class^="box-"] {
  height: 170px;
}

/* deploy typo */
main .deploy-boxes h5,
main .deploy-boxes h6 {
  font-weight: 500;
  margin: 15px 0px;
}

main .deploy-boxes h5 {
  font-size: 20px;
}

main .deploy-boxes h6 {
  font-size: 18px;
  color: #4e5f83;
}

main .deploy-boxes .box-bot img {
  margin-top: 20px;
}

/* MEDIA QUERY */

/*  <1000px */
@media (max-width: 1000px) {
  /* navbarfix */
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* QUERY <992px */
@media screen and (max-width: 992px) {
  main .text-deploy {
    padding: 0px 15px;
  }
  main .deploy-list {
    margin-left: 15px;
  }

  main .deploy-boxes .deploy-box-sx,
  main .deploy-boxes .deploy-box-dx {
    margin: 15px 0px;
  }
}

/* QUERY <767px */
@media screen and (max-width: 767px) {
  main .businesses .businesses-img-list li {
    width: calc((100% / 3) - 15px);
  }
  main .businesses .businesses-img-list li:nth(odd) {
    margin-left: 10px;
  }
}

/* QUERY <630px */
@media screen and (max-width: 630px) {
  main .businesses .businesses-img-list li {
    width: calc((100% / 2) - 15px);
    margin-left: 10px;
  }
  main .businesses .businesses-img-list li:nth(odd) {
    margin-left: 10px;
  }
}

/* QUERY <530px */
@media screen and (max-width: 530px) {
  main .businesses .businesses-img-list li {
    width: calc((100% / 2) - 15px);
    margin-left: 10px;
  }
  main .businesses .businesses-img-list li:nth(odd) {
    margin-left: 10px;
  }
}
