* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #010e28;
}

/* UTILITIES */
/* positions */
.p-relative {
  position: relative;
}
/* background */
.jumbo {
  background-image: url(../img/bg-banner-home.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-gray {
  color: #f3f5f9;
}

/* typo */



/* navbar general */
header .navbar {
  background-color: white;
  border: none;
  margin-bottom: 0px;
}

header .navbar ul li a {
  padding: 15px 8px;
}

/* navbar logo */
header .navbar img {
  width: 150px;
}

/* navbar centro */
header .navbar ul {
  line-height: 42px;
  margin-left: 55px;
}


/* navbar sx */
header .navbar-default .navbar-nav li a {
  line-height: 30px;
  color: #010e28;
}

header .navbar-default .navbar-nav .btn {
  color: #0068ff;
  border-color: #0068ff;
  transition: color .3s, background-color .3s;
}

header .navbar-default .navbar-nav .btn:hover {
  color: #fff;
  background-color: #0068ff;
}

/* jumbotron */
/* text box jumbotron sx */

/* form box jumbotron dx*/
header .jumbo .jumbo-box-dx {
  background-color: white;
  padding: 15px 20px;
  margin-top: 60px;
  border-radius: 10px;
}

header .jumbo .jumbo-box-dx .form-group {
  margin: 10px 0;
}

/* bottoni jumbotron form */
header .jumbo .jumbo-box-dx .form-group .btn {
  margin: 5px 0;
}

header .jumbo .jumbo-box-dx a:hover {
  text-decoration: none;
}

header .jumbo .jumbo-box-dx .btn {
  width: 100%;
}

/* bottone create account */
header .jumbo .jumbo-box-dx .btn-create {
  background-color: rgba(0, 137, 255, 0.8);
  border-color: rgba(51, 122, 183, .5);
  color: white;
  font-weight: 600;
  transition: background-color .4s;
}

header .jumbo .jumbo-box-dx .btn-create:hover {
  background-color: rgba(0, 137, 255, 1);
}

/* bottone sign up google */
header .jumbo .jumbo-box-dx .form-group .google-icon-form {
  padding: 0px;
}

header .jumbo .jumbo-box-dx .form-group .google-icon-form img {
  width: 20px;
}

header .jumbo .jumbo-box-dx .form-group .btn-sign-google {
  transition: background-color .3s, border-color .3s;
}

header .jumbo .jumbo-box-dx .form-group .btn-sign-google:hover {
  background-color: #f3f5f9;
  border-color: #f3f5f9;
}


/* box text termini di servizio */
header .jumbo .jumbo-box-dx .form-group p {
  font-size: 12px;
  padding-top: 10px;
}

header .jumbo .jumbo-box-dx .form-group p a:hover{
  text-decoration: underline;
}

/* MEDIA QUERY */

/* navbar fix <1000px */
@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
