* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #031b4e;
}

/* UTILITIES */
/* display */
.d-inline {
  display: inline-block;
}
/* positions */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.mg-0 {
  margin: 0;
}

.mg-left-10 {
  margin-left: 10px;
}

/* background */
.jumbo {
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-gray {
  background-color: #f3f5f9;
}

.bg-blue {
  background: rgb(0,212,255);
  background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(0,22,255,1) 0%, rgba(15,24,116,1) 0%, rgba(19,30,142,1) 10%, rgba(20,31,147,1) 14%, rgba(21,37,209,1) 72%, rgba(29,45,215,1) 92%, rgba(50,67,255,1) 100%);
 }

/* typo */
.opacity-05 {
  opacity: .5;
}
.opacity-03 {
  opacity: .3;
}
.opacity-07 {
  opacity: .7;
}

h2 {
  font-size: 35px;
  font-weight: 500;
  color: #031b4e;
  padding-top: 50px;
}

h3 {
  font-size: 20px;
  color:#4e5f83;
  opacity: 0.7;
}

.text-white {
  color: white;
}

.text-blue {
  color: #a7bae3;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn-white {
  background-color: white;

}

/* TESTO LINK BLUE */
* .link-blue {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #2283fd;
}

* .link-blue a:hover {
  text-decoration: none;
}

/* navbar general */
header .navbar {
  background-color: white;
  border: none;
  margin-bottom: 0px;
}

header .navbar ul li a {
  padding: 15px 8px;
}

/* navbar logo */
header .navbar img {
  width: 150px;
}

/* navbar centro */
header .navbar ul {
  line-height: 42px;
  margin-left: 55px;
}


/* navbar sx */
header .navbar-default .navbar-nav li a {
  line-height: 30px;
  color: #010e28;
}

header .navbar-default .navbar-nav .btn {
  color: #0068ff;
  border-color: #0068ff;
  transition: color .3s, background-color .3s;
}

header .navbar-default .navbar-nav .btn:hover {
  color: #fff;
  background-color: #0068ff;
}

/* jumbotron */
/* text box jumbotron sx */
header .jumbo .jumbo-box-sx {
  margin-top: 85px;
}

header .jumbo .jumbo-box-sx h1,
header .jumbo .jumbo-box-sx h3 {
  color: white;
}

header .jumbo .jumbo-box-sx h1 {
  font-size: 65px;
  font-weight: 700;
}

header .jumbo .jumbo-box-sx h3 {
  font-size: 20px;
  opacity: 0.6;
}

/* form box jumbotron dx*/
header .jumbo .jumbo-box-dx {
  background-color: white;
  padding: 15px 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
}

header .jumbo .jumbo-box-dx .form-group {
  margin: 10px 0;
}

/* bottoni jumbotron form */
header .jumbo .jumbo-box-dx .form-group .btn {
  margin: 5px 0;
}

header .jumbo .jumbo-box-dx a:hover {
  text-decoration: none;
}

header .jumbo .jumbo-box-dx .btn {
  width: 100%;
}

/* bottone create account */
header .jumbo .jumbo-box-dx .btn-create {
  background-color: rgba(0, 137, 255, 0.8);
  border-color: rgba(51, 122, 183, .5);
  color: white;
  font-weight: 600;
  transition: background-color .4s;
}

header .jumbo .jumbo-box-dx .btn-create:hover {
  background-color: rgba(0, 137, 255, 1);
}

/* bottone sign up google */
header .jumbo .jumbo-box-dx .form-group .google-icon-form {
  padding: 0px;
}

header .jumbo .jumbo-box-dx .form-group .google-icon-form img {
  width: 20px;
}

header .jumbo .jumbo-box-dx .form-group .btn-sign-google {
  font-weight: 600;
  transition: background-color .3s, border-color .3s;
}

header .jumbo .jumbo-box-dx .form-group .btn-sign-google:hover {
  background-color: #f3f5f9;
  border-color: #f3f5f9;
}


/* box text termini di servizio */
header .jumbo .jumbo-box-dx .form-group p {
  font-size: 12px;
  padding-top: 10px;
}

header .jumbo .jumbo-box-dx .form-group p a:hover{
  text-decoration: underline;
}


/* MAIN */
/* sezione immagini */
main .businesses {
  padding-bottom: 25px
}
/* text businesses */
main .businesses h5 {
  padding-top: 40px;
  color: #7f8fb7;
  text-transform: uppercase;
}

/* immagini ul businesses */
main .businesses .businesses-img-list li a{
  text-decoration: none;
}

main .businesses .businesses-img-list li {
  width: calc((100% / 7));
}

main .businesses .businesses-img-list li img {
  max-width: 100%;
  vertical-align: middle;
}


/* section deploy&scale text */
main .text-deploy {
  padding-bottom: 20px;
}

/* deploy section UL */
main .deploy-list {
  border-left: 2px solid lightgray;
  margin-top: 20px;
}

main .deploy-list ul {
  vertical-align: bottom;
  list-style: none;
  margin:0;
}

main .deploy-list ul li {
  padding: 8px 0px;
  color:#4e5f83;
  font-weight: 600;
  font-size: 16px;
}

/* deploy boxes */
main .deploy-boxes {
    margin-top: 20px;
    margin-bottom: 60px;
}

main .deploy-boxes [class^="box-"] {
  height: 170px;
}

/* deploy typo */
main .deploy-boxes h5,
main .deploy-boxes h6 {
  font-weight: 500;
  margin: 15px 0px;
}

main .deploy-boxes h5 {
  font-size: 20px;
}

main .deploy-boxes h6 {
  font-size: 18px;
  color: #4e5f83;
}

main .deploy-boxes .box-bot img {
  margin-top: 20px;
}

/* sezione slide img droplet */
main .droplet-section {
  padding-bottom: 50px;
}
/* text row top*/
main .droplet-text h3 {
  line-height: 30px;
}
/* img row */
main .droplet-img img {
  width: 50%;
  margin: 20px 40px;
}

main .droplet-img a {
  text-decoration: none;
}

/* valido per droplet-img e love-oceans*/
main .fa-chevron-left,
main .fa-chevron-right {
  font-size: 30px;
  color: #031b4e;
  transition: color .3s;
}

main .fa-chevron-left:hover,
main .fa-chevron-right:hover {
  color:#7c8db0;
}

main .fa-chevron-left{
  left: 30px;
}

main .fa-chevron-right{
  right: 30px;
}

/* droplet-text-bottom */
main .droplet-text-bottom h6 {
  font-size: 14px;
}

main .droplet-text-bottom a {
  text-decoration: none;
}

main .droplet-text-bottom i {
  font-size: 12px;
  color: #3f81b9;
  transition: font-size .2s;
}

main .droplet-text-bottom i:hover {
  font-size: 16px;
}

main .droplet-text-bottom i:active {
  font-size: 16px;
}

/* FEATURES */
main .features {
  margin-bottom: 70px;
}

main .features h2 {
  padding-bottom: 30px;
}

main .features-boxes h5,
main .features-boxes h6 {
  font-weight: 500;
  margin: 15px 0px;
}

main .features-boxes h5 {
  font-size: 20px;
}

main .features-boxes h6 {
  font-size: 18px;
  color: #4e5f83;
  line-height: 25px;
}

/* region */
main .regions {
  padding-bottom: 50px;
}
/* region row */
main .regions .region-row p {
  margin: 0px;
}

main .regions .region-row {
  padding: 10px 0px;
  border-bottom: 1px solid #818da7;
}

main .regions .region-row a {
  color:#46a3f2;
  text-decoration: none;
  transition: color .3s;
}

main .regions .region-row a:hover {
  color:white;
}

main .regions .region-row a,
main .regions .region-row p {
  font-weight: 500;
}

/* rockerbox section */
main .rockerbox-section {
  margin-bottom: 45px;
}

/* rockerbox img */
main .rockerbox-section .rockerbox-box {
  width: 50%;
  margin: 50px auto 40px auto;
  background-color: white;
  padding: 20px 5px 30px 5px;
}

main .rockerbox-section .rockerbox-box .text-rockerbox h5 {
  font-size: 18px;
}

/* rockerbox text */
main .rockerbox-section .rockerbox-box .text-rockerbox h5:first-child {
  font-weight: 700;
  line-height: 8px;
  padding-top: 10px;
}

main .rockerbox-section .rockerbox-box .text-rockerbox h5:last-child {
  padding-bottom: 20px;
}
/* rockerbox link blue */
main .rockerbox-section .rockerbox-box .link-blue {
  padding-bottom: 20px;
}

/* rockerbox arrows */
main .rockerbox-section .rockerbox-box .fa-chevron-left {
  left:-50px;
  top: 50%;
  transform: translatey(-45%);
}

main .rockerbox-section .rockerbox-box .fa-chevron-right {
  right:-50px;
  top: 50%;
  transform: translatey(-45%);
}


/* get started now */
main .get-started {
  padding-bottom: 60px;
}
/* start button */
main .get-started .btn {
  padding: 8px 20px;
  transition: background-color .3s;
}

main .get-started .btn:hover {
  background-color: #337ac6;
}

main .get-started .btn:hover a{
  color: white;
}

main .get-started .btn a {
  text-decoration: none;
  transition: color .3s;
}

main .get-started .btn a:hover {
  color:white;
}


/* FOOTER */
.bg-footer {
  background-color: #031b4e;
}

/* footer typo */
footer .main-footer h5 {
  padding-top: 5px;
  font-size: 15px;
}

footer .main-footer h6 {
  font-size: 15px;
  line-height: 5px;
}

/* main footer */
footer .main-footer {
  padding-top: 50px;
  padding-bottom: 80px;
}

/* UL footer */
footer .main-footer .social-list {
  list-style: none;
  padding-top: 10px;
}

footer .main-footer .social-list li {
  display: inline;
}

footer .main-footer .social-list li:not(:first-child) {
  padding-left: 10px;
}

footer .main-footer .social-list li a {
  text-decoration: none;
}

footer .main-footer .social-list li i {
  color: white;
  opacity: .4;
  font-size: 24px;
  transition: opacity .4s;
}

footer .main-footer .social-list li i:hover {
  opacity: .8;
}

/* footer box colonne dx */
footer .main-footer .utilities {
  margin-top: 15px;
}

/* ul utilities link */
footer .main-footer .utilities-list {
}

footer .main-footer .utilities-list li {
  list-style: none;
  padding-top: 8px;
}

footer .main-footer .utilities-list li a {
  color: white;
  opacity: .6;
  font-weight: 500;
}

/* chatbox */
footer .chat-box {
  bottom: 10px;
  right: 5%;
}

footer .chat-box .img-box .shark {
  height: 60px;
  background-color: #1626d2;
  border-radius: 10px;
}

footer .chat-box .counter {
  background-color: red;
  color: white;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 5px solid white;
  top:-12px;
  right:0px;
}

footer .chat-box .baloon {
  text-align: left;
  padding: 10px 30px;
  background-color: white;
  color: #031b4e;
  height: 60px;
  border-radius: 10px;
}

footer .chat-box .baloon p {
  font-weight: 500;
}

footer .chat-box .baloon i {
  position: absolute;
  right:0;
  bottom:5px;
  transform: translateX(80%);
  font-size: 35px;
  color: white;
}

/* MEDIA QUERY */

/*  <1000px */
@media (max-width: 1000px) {
  /* navbarfix */
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* QUERY <992px */
@media screen and (max-width: 992px) {
  main .text-deploy {
    padding: 0px 15px;
  }
  main .deploy-list {
    margin-left: 15px;
  }

  main .deploy-boxes .deploy-box-sx,
  main .deploy-boxes .deploy-box-dx {
    margin: 15px 0px;
  }
}

/* QUERY <767px */
@media screen and (max-width: 767px) {
  main .businesses .businesses-img-list li {
    width: calc((100% / 3) - 15px);
  }
  main .businesses .businesses-img-list li:nth(odd) {
    margin-left: 10px;
  }
}

/* QUERY <630px */
@media screen and (max-width: 630px) {
  main .businesses .businesses-img-list li {
    width: calc((100% / 2) - 15px);
    margin-left: 10px;
  }
  main .businesses .businesses-img-list li:nth(odd) {
    margin-left: 10px;
  }
}

/* QUERY <530px */
@media screen and (max-width: 530px) {
  main .businesses .businesses-img-list li {
    width: calc((100% / 2) - 15px);
    margin-left: 10px;
  }
  main .businesses .businesses-img-list li:nth(odd) {
    margin-left: 10px;
  }
}
